body
{
    margin:0;
    background-color: black;
}
/****************************** NavBar*****************************/
nav
{
    background-color: rgb(26, 24, 22);
    width:100%;
    height: 60px;
}
nav div
{
    display:inline-block;
}
/*****Nav Left*****/
.nav_left{
    height:60px;
    margin-left:20px;
    float:left;

}
.logo
{
    width: 110px;
    height: 60px;
}
.fa-bars{
    overflow: hidden;
    margin-bottom: 18px;

}
/****************/
/*****Nav Right*****/

.nav_right
{
    float:right;
    margin-right:20px;
    margin-top:18px;

}
/******space between icons*****/
.fa-th,.fa-bell,.fa-user-circle,.video_camera,.fa-bars
{
    margin-right: 25px;
}
/*****************************/
.fas,.fad,.far
{
    color:white;
    font-size:20px;
}
.fa-user-circle
{
    color:blue;
    font-size:30px;

}
.video_camera{
    width:20px;
    height:20px;

}
/****************/
/*******search*********/
.search_container
{
    clear:none;
    margin-top:15px;
    margin-left:128px;
}
input[type="text"]
{   
    width:590px;
    font-size:23px; /*instead of the height*/
    background-color: black; 
    color:white;
    outline:none;
    border:none;
    padding-left:15px;


}

.search_button
{   
    width:70px;
    font-size:23px;
    background-color:rgb(49, 48, 46);
    outline:none;
    margin-left: -4px;
    border:none;
}
.fa-search
{
    font-size: 12px;
    text-align:center;
    opacity:0.6;

}
.fa-microphone
{
    margin-left:20px;
    font-size:17px;
}
::placeholder
{
    font-size:17px;
}





/****************************** Video*****************************/
.video
{
    background-color: rgb(103, 212, 167);
    height: 2000px;
    width:650px;
    float: left;
    margin: 20px 20px 0 130px;

}
/****************************** SideBar*****************************/

.sidebar
{
    background-color: rgb(150, 26, 207);
    width: 400px;
    height: 2000px;
    float: right;
    margin-top:20px;
    margin-right:60px;

}

/******************************Cursor Pointer*****************************/
.logo,.fas,.far,.fab,button
{
    cursor:pointer;
}
