
@font-face {
  font-family: 'FontAwesome';
 
}

body
{
    margin:0;
    background-color: rgb(14, 13, 13);
    color:white;
    font-family:Roboto, Arial, sans-serif;
    line-height:24px;

}
/****************************** NavBar*****************************/
nav
{
    background-color: rgb(20, 20, 19);
    width:100%;
    height: 60px;
    position:fixed;
    top:0;
    opacity:1;
}
nav div
{
    display:inline-block;
}
/*****Nav Left*****/
.nav_left{
    height:60px;
    margin-left:20px;
    float:left;

}
.logo
{
    width: 110px;
    height: 60px;
}
.fa-bars{
    overflow: hidden;
    margin-bottom: 18px;

}
/****************/
/*****Nav Right*****/

.nav_right
{
    float:right;
    margin-right:20px;
    margin-top:18px;

}
/******space between icons*****/
.fa-th,.fa-bell,.fa-user-circle,.video_camera,.fa-bars
{
    margin-right: 25px;
}
/*****************************/
.fas,.fad,.far
{
    color:white;
    font-size:20px;
}
.fa-user-circle
{
    color:blue;
    font-size:30px;

}
.video_camera{
    width:20px;
    height:20px;

}
/****************/
/*******search*********/
.search_container
{
    clear:none;
}
input
{
    width:590px;
    font-size:20px;
    background-color: black; 
    color:white;
    margin-top:18px;
    margin-left:128px;
    outline:none;
    border:none;
    padding-left: 15px;
}

.search_button
{
    font-size:20px;
    width:70px;
    background-color: rgb(51, 51, 49);
    outline:none;
    margin-left: -4px;
    margin-bottom:-5px;
    margin-right: 20px;

    border:none;
    
}


.fa-search
{
    font-size:10px!important; 
    opacity:0.7;
}
::placeholder
{
    font-size: 15px;

}
/****************************** Spacer*****************************/
.spacer
{
    height: 85px;
}
/****************************** Video*****************************/
.embeded_video
{
    height: 2000px;
    width:840px;
    float: left;
    margin: 0 20px 0 45px;
}
.embeded_video iframe
{
    width:840px;
    height:480px;
}
/******video info******/
.video_info
{
    margin-top: 15px;
}
.video_info a
{
    
    font-size: 13px;
}
.video_info h1
{
    margin:0;
    font-size: 18px;
    font-weight:400;
  
}

/******video description******/
.video_description
{
    margin-top:20px;
}
.user_image
{
    border-radius: 50%;
    height:35px;
    width:35px;
}
.video_description .description_text a ,.comment_space a
{
    color:white;
    font-weight:400;


}
/*********comments section*******/
.comments_section
{
    margin-top: 25px;
}
.user_comment
{
    margin-bottom: 20px;
}
.description_text,.comment_space

{
    margin-left:60px;
    margin-top:-45px;
}
 p,span

{
    line-height:18px;
    font-size:14px;
}

.thumbs
{
    margin-top:20px;
}
.thumbs span
{
    margin-right: 12px;

}
.fa-thumbs-up,.fa-thumbs-down
{
    font-size:15px;
}


/****************************** SideBar*****************************/

.sidebar
{
    width: 380px;
    height: 2000px;
    float: right;
    margin-right:60px;

}
.sided_image
{
    margin-top:30px;
}
.sided_image2
{
    margin-top:50px;

}
.sided_image3
{
    margin-top:70px;

}
.sided_image4
{
    margin-top:70px;

}
.sided_image img
{
    width:150px;
    height:100px;
    float:left;
    margin-right: 10px;
}

.image_description span
{
    display:block;
}
/******************************Cursor Pointer*****************************/
.logo,.fas,.far,.fab,button
{
    cursor:pointer;
}
/******************************links style*****************************/
.video_info a
{
    color:#3ea6ff;
}
a{
    text-decoration: none;
}
/******************************opacity style*****************************/

.opac_element,.thumbs span ,.image_description span:nth-child(3),.image_description span:nth-child(5)

{ 
    opacity:0.5;
}
hr
{
    opacity:0.3;
    border:solid 0.5px white;

}


